{% extends "Gestion/base.html" %}
{% block contenu %}
<hr>
<h1> Portail de l'Universite Paris Nanterre </h1>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/static/Gestion/images/individus.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <button type="button" class="btn btn-dark"> <a href="{% url 'ajout_individu_gestion' %}">
                                Ajouter Individu </a> </button>
                        <button type="button" class="btn btn-dark"> <a href="{% url 'recherche_individu_gestion' %}">
                                Rechercher Individu </a> </button>
                    </h5>
                    <p class="card-text">Ajoutez ou recherchez un individu (etudiant, professeur, vacataire ...).</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/static/Gestion/images/promotion.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <button type="button" class="btn btn-dark"> <a href="{% url 'ajout_promotion_gestion' %}">
                                Ajouter Promotion </a> </button>
                        <button type="button" class="btn btn-dark"> <a href="{% url 'recherche_promotion_gestion' %}">
                                Rechercher Promotion </a> </button>
                    </h5>
                    <p class="card-text">Ajoutez ou recherchez une promotion en fonction de l'annee, de la filiere
                        et/ou de la voie de formation.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/static/Gestion/images/seances.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <button type="button" class="btn btn-dark"> <a href="{% url 'ajout_seance_gestion' %}"> Ajouter
                                Seances </a> </button>
                        <button type="button" class="btn btn-dark"> <a href="{% url 'recherche_seance_gestion' %}">
                                Rechercher Seances </a> </button>
                    </h5>
                    <p class="card-text">Ajoutez ou recherchez un creneau horraire soit par une salle, un créneau
                        horraire ou par un professeur.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/static/Gestion/images/export.jpg" height="356" class="card-img-center" alt="...">
                <div class="card-body">
                    <button type="button" class="btn btn-dark"> <a href="{% url 'import_gestion' %}"> Importer Fichier
                        </a> </button>
                    <button type="button" class="btn btn-dark"> <a href="{% url 'export_gestion' %}"> Exporter Fichier
                        </a> </button>
                    </h5>
                    <p class="card-text">Exportez les etudiants par promotion ou importez de nouveaux etudiants.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenu%}