{% extends 'Gestion/base.html' %}

{% block contenu %}
<div class="container">
    <h1>Recherche {% if nom_element %} des {{ nom_element }} {% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        {{formulaire.as_p}}
        <input class="btn btn-success" type="submit" value="Valider">
    </form>
</div>

{% if affichage %}
    <div class="container">
        <h1>Affichage {% if nom_element %} des {{ nom_element }} {% endif %}</h1>
        <div class="container">
            {% for element in informations %}
            <div class="card" class="row">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">#</th>
                        {% for clef in element.instance.keys %}
                        <th scope="col"> {{ clef }} </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row"> {{ forloop.counter }} </th>
                        {% for valeur in element.instance.values %}
                        <td>{{ valeur }} </td>
                        {% endfor %}
                    </tr>
                </table>
                <!--  -->
                {% if nom_url %}
                    <form method="post" action="{% url nom_url element.slug %}">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Détails">
                    </form>
                {% endif %}
                <!--  -->
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
{% endif%}
{% endblock contenu %}
